{{define "body"}}
<script type="text/javascript">
    window.onload = function () {
        let join = document.getElementById("join_room");
        if (join) {
            join.onclick = joinRoom;
        }

        let create = document.getElementById("create_room");
        if (create) {
            create.onclick = createRoom;
        }
    };
</script>
<div class="eighty">
    <div id="content1"></div>
</div>
<div id="footer">
    <div>you are:</div>
    <div id="user_id"></div>
    <a>Join a room:</a>
    <br>
    <input type="text" id="room_id">
    <button type="button" id="join_room">Join</button>
    <br>
    <a>Or,create a room</a>
    <button type="button" id="create_room">Create</button>
    <br>
    <a href="http://www.baidu.com">go to baidu~</a>
</div>
{{end}}